$color: #fbb215;

.login {
    background-color: #e2edfd;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

.login-header {
    background-color: #000723;
    color: $color;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
    font-weight: 800;
    text-align: center;

    h1 {
        font-size: 40px;
        font-weight: 800;
    }
}

.login-content {
    border: $color 1px solid;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    color: #000a34;
    width: 400px;
    margin: 80px auto;
    font-size: 36px;
    padding: 25px 40px;

    h2 {
        text-align: center;
        font-size: 32px;
        text-align: center;
        margin-bottom: 16px;
    }   
}

.login-submit {
    text-align: center;
}