.stepControl{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.stepControl Button{
    width: 100px;
    margin-left: 20px;
}

.hidden{
    display: none;
}

.show{
    margin-top: 30px;
}