@use '../../variables' as v;

.sidemenu {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: v.$background-color;
}

.sidemenu-logo {
    background-color: v.$secondary-background-color;
    line-height: 64px;
    color: v.$secondary-color;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
}

.sidemenu-content {
    flex: 1;
    overflow: auto;
}

.top-header {
    padding: 0;
    background-color: v.$background-color;
}

.ant-menu-light,
.ant-menu-light>.ant-menu {
    background-color: v.$background-color;
}

.ant-menu-light .ant-menu-item-selected {
    background-color: v.$third-background-color;
}